<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login page</title>
<link rel="stylesheet"
	href="bootstrap.min.css">
<script
	src="bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="style.css" />
</head>
<body>
	<div class="login-form">
		<div class="login-image"></div>
		<div class="login-logo">

			<a href="#" style="color: #0070c0"> <b style="font-size: 40px;">Uni<b
					style="color: red">Q</b></b> Financial
			</a>
		</div>
		<span class="red" th:if="${loginError}">Wrong user or password</span>
		<form th:action="@{/login}" method="post">
			<h2 class="text-center">Sign in</h2>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-user"></i></span> <input
						type="text" class="form-control" name="username"
						placeholder="Username" />

				</div>

			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-lock"></i></span> <input
						type="password" class="form-control" name="password"
						placeholder="Password" />

				</div>

			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary login-btn btn-block">Sign
					in</button>
			</div>
		</form>
	</div>

</body>
</html>